@use '../../../../sass/' as *;

.top-menu__mid {
  height: calc($top-menu__height - $top-menu-head__height - 12px);
  @include flex(center, flex-start);
  @include mobile {
    height: calc($top-menu__height--mobile - $top-menu-head__height - 4rem);
    overflow: hidden;
    overflow-x: scroll;
  }

  &--item {
    white-space: nowrap;
    padding: 4px;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 2rem;
    color: $txt-second-color;
    text-transform: capitalize;
    position: relative;

    @include mobile {
      padding: 8px;
      margin-right: 1rem;
      font-size: 1.4rem;
      background-color: $primary-color;
      color: $white-color;
    }

    &::after {
      content: '';
      width: 0;
      height: 2px;
      background: $primary-color;
      position: absolute;
      bottom: -4px;
      right: 50%;
      transform: translateX(50%);
      transition: width 0.3s ease;

      @include tablet {
        display: none;
      }
    }

    &:hover {
      color: $primary-color;

      @include mobile {
        color: $white-color;
      }
    }

    &:hover::after {
      width: 100%;
    }

    &.active {
      color: $primary-color;

      @include mobile {
        color: $second-primary-color;
      }
    }

    &.active::after {
      width: 100%;
    }
  }
}
