.fall-theme {
  $primary-color: #4f60ff;
  $second-primary-color: rgb(221, 170, 255);
}

.winter-theme {
  $primary-color: #4f60ff;
  $second-primary-color: rgb(221, 170, 255);
}

.spring-theme {
  $primary-color: #4f60ff;
  $second-primary-color: rgb(221, 170, 255);
}

.summer-theme {
  $primary-color: #ff3502;
  $second-primary-color: rgb(255, 87, 87);
}
