@use '../../../../sass/' as *;

.list-control {
  @include flex(center, space-between);
  gap: 1rem;
  margin-bottom: 1rem;

  &__item {
    i {
      font-size: 3rem;
      padding: 8px;
      cursor: pointer;
      border-radius: 50%;

      @include mobile {
        font-size: 2rem;
      }

      &:hover {
        background: rgba($black-color, 0.05);
      }

      &:active {
        opacity: 0.3;
      }

      &.active {
        color: $primary-color;
      }
    }
  }
}
