@use '../../../../sass/' as *;
.video-box {
  display: inline-block;
  position: relative;
}
.video {
  width: 30rem;
  min-height: 5rem;
  overflow: hidden;
  position: relative;
  z-index: 1;

  @include tablet {
    width: 90%;
  }

  &:hover &-controls {
    opacity: 1;
  }

  & video {
    border-radius: 20px;
  }
}
