@use '../../../../sass/' as *;

.tiktok-card__interactives {
  position: absolute;
  right: -7rem;
  top: 50%;
  @include tablet {
    right: -1rem;
  }

  @include mobile {
    right: 3rem;
    z-index: 1;
    transform: translateY(-40%);
  }

  &--item {
    @include flex(center, center);
    position: relative;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background: rgba($black-color, 0.05);

    @include mobile {
      color: $white-color;
    }

    &:hover {
      background: rgba($black-color, 0.09);

      @include mobile {
        background: rgba($black-color, 0.05);
      }
    }
    margin-bottom: 3rem;
    i {
      font-size: 2.5rem;
      transition: all 0.5s ease;
      @include mobile {
        font-size: 2.5rem;
      }
      &.active {
        color: $heart-color;
        animation: scales 0.7s ease;
      }
    }

    span {
      position: absolute;
      bottom: -20px;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

@keyframes scales {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
