@use './sass/' as *;
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  background: $main-bg;

  &::-webkit-scrollbar {
    width: 4px;
    background-color: rgba($gray-color, 0.1);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input {
  outline: none;
  border: 0;
}

.heart {
  color: $heart-color;
}

.main {
  padding-left: $sidebar-left-width;
  height: 100vh;
}

.btn {
  @include flex(center, center);
  padding: 8px 12px;
  border: 0;
  border-radius: $border-radius;
  background-color: transparent;
  color: $black-color;
  font-size: 2.4rem;
  cursor: pointer;
  outline: none;

  &-border {
    border-radius: $border-radius;
    background-image: $linear-gradient;
  }
}

.container {
  width: 100%;
  height: 100%;
  padding: 12px 30px;
  margin: 0 auto;

  @include tablet {
    padding: 12px 20px;
  }

  @include mobile {
    padding: 8px 10px;
  }
}

.grid {
  display: grid;
}

// grid for pc

@each $var in $numbers {
  .grid-col-#{$var} {
    grid-template-columns: repeat($var, 1fr);
  }
}

// grid for tablet

@each $var in $numbers {
  .grid-col-md-#{$var} {
    @include tablet {
      grid-template-columns: repeat($var, 1fr);
    }
  }
}

@each $var in $numbers {
  .grid-col-sm-#{$var} {
    @include mobile {
      grid-template-columns: repeat($var, 1fr);
    }
  }
}
